.bg-red-branson {
    background-color: #D5282C;
}

.bg-blue-branson {
    background-color: #00ABF9;
}

.color-red-branson {
    color: #D5282C;
}

.color-blue-branson {
    color: #00ABF9;
}

.bg-dark-opacity{
    background-color: #343a4096;
}

.bg-image {
    background-size: cover;
    background-position: center center;
    /* width: 100%; */
    /* height: 100%; */
}

.text-linethrough {
    text-decoration:line-through;
}

.text-underline  {
    text-decoration: underline
}

.producto:hover .card-img-overlay-1 {
    display: none;
}

.card-img-overlay-2{
    display: none;
}

.producto:hover .card-img-overlay-2 {
    display: block;
}

#login-modal input {
    background-color: transparent;
}

#login-modal input::placeholder {
    color: white;
    background-color: transparent;
}